@charset "UTF-8";
/* CSS Document */

body {
	background-color: rgba(50,3,24,1);
	background-size: 100%;
	min-width: 768px;
	line-height: 1.5rem;
	opacity: 1; 
}

.wrapper {
	overflow: hidden;
	padding-top: 1.5rem;
}
	
.quote {
	background-color: rgba(148,23,81,1);
	padding: 2.5rem 7.5%;
	margin: 6rem 20%;
	border-radius: 15px;
}

blockquote {
	font-family: Georgia, "Georgia", Times, serif;
	color: rgba(255,255,255,1);
	text-align: left;
	font-size: 1rem;
}

cite {
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(244,163,192,1);
	float: right;
	font-size: 1rem;
}

blockquote:before {
	font-family: Arial, Helvetica, sans-serif;
  	display: block;
  	float: left;
	margin-left: -12.5%;
	margin-top: 1.5rem;
	content: "“";
	font-size: 7rem;
	color: rgba(184,45,93,1);
}

blockquote:after  {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	float: right;
	margin-right: -7.5%;
	margin-top: 1.5rem;
	content: "”";
	font-size: 7rem;
	color: rgba(184,45,93,1);
}